.login-form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background: white;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-container {
  padding-top: 70px;
}

.login-header {
  margin-bottom: 20px;
}


